@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .list-item-line::after {
      content: "";
      display: block;
     width: 100%;
     background-color: rgb(47, 177, 7);
     height: .12rem;
     border-radius: .5rem;
     margin-top: -.15rem;
     animation: line-animation .5s ease forwards;
     /* Adjust this value to control the spacing between the line and the list item */
    }
    @keyframes line-animation {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }

      /* For screens with a width of 640px or less */
@media (max-width: 640px) {
  .dot-grid {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}

/* For screens with a width of 768px or less */
@media (max-width: 768px) {
  .dot-grid {
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}

/* Add more media queries as needed for other screen sizes */

  }
  